.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  transform-style: preserve-3d;
  perspective: 1000px;
  padding: 40px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.items {
  flex: 0 0 auto;
  transition: 0.5s;
  filter: brightness(0.5);
  transform: translateZ(0) rotateY(0deg);
}

.items img {
  width: 220px;
  height: 220px;
  border-radius: 15px;
  object-fit: cover;
  transition: 0.5s;
}

.items:hover {
  filter: brightness(1);
  transform: translateZ(150px);
}

.items:hover + .items {
  filter: brightness(0.6);
  transform: translateZ(100px) rotateY(40deg);
}

.items:hover + .items + .items {
  filter: brightness(0.4);
  transform: translateZ(50px) rotateY(20deg);
}

.items:has(+ .items:hover) {
  filter: brightness(0.6);
  transform: translateZ(100px) rotateY(-40deg);
}

.items:has(+ .items + .items:hover) {
  filter: brightness(0.4);
  transform: translateZ(50px) rotateY(-20deg);
}
